*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  display: grid;
  place-items: center;
}

body {
  margin: 0;
  font-family: 'Quicksand';
  font-size: $font-size-default;
  height: 100vh;
  color: $color-black;
  background-color: $color-white;
  overflow-x: hidden;

  p {
    font-size: $font-size-large;
  }
}

h1, h2 {
  font-family: 'Mohave';
}

h3, h4, h5, h6 {
  font-family: 'Quicksand';
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  a {
    color: $color-black;
    float: none;
    display: flex;
    text-align: left;
  }
  .navbar-logo-container {
    align-self: flex-start;
    min-width: 80px;
    max-width: 15vw;
    a {
      img {
        padding: 10px 16px;
      }
    }
    
  }
  .navbar-links {
    width: 50vw;
    position: relative;
    overflow: hidden;
    background-color: $color-white;
    padding: 10px;
    float: right;
    #navbarList {
      display: none;
    }
    a {
      padding: 14px 16px;
      text-decoration: none;
      display: block;
      font-size: $font-size-large;
      border-radius: 4px;
      text-align: center;
    }
    a:after {
      display: block;
      content: '';
      border-bottom: solid 1px $color-white;
      transform: scale(0);
      transition: transform 350ms ease-in-out;
    }
    a:hover {
      background: linear-gradient(320deg, $color-brown 0%, $color-light-brown 100%);
      color: $color-white;
      transition-timing-function: ease-in-out;
      transition: all 350ms;
    }
    a:hover:after {
      transform: scaleX(1);
    }
    a:not(:hover) {
      transition: all 350ms;
    }
    .active {
      background-color: $color-green-bright;
      color: $color-white;
    }
  }
  .navbar-expand-button-container {
    width: 15vw;
    float: right;
    .navbar-expand-icon {
      padding: 10px;
      //max-width: 53px;
      height: 74px;
      background: $color-white;
      justify-self: center;
      text-align: center;
      i {
        align-self: center;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  header {
    a {
      float: left;
      text-align: center;
    }
    .navbar-links {
      min-width: 80vw;
      align-self: flex-end;
      display: flex;
      justify-content: end;
      #navbarList {
        display: contents;
        a {
          margin-left: 5px;
        }
      }
    }
    .navbar-expand-button-container {
      display: none;
      a {
        height: 73px;
        i {
          align-self: center;
        }
      }
    }
  }
}

main {
  max-width: 100vw;
  max-width: 1920px;
  height: 100%;
  background: linear-gradient(320deg, $color-white 0%, $color-green-background 80%);
}

@media screen and (min-width: 600px) {
  main {
    padding-top: 50px;
  }
}

.cta {
  padding-top: 0px;
  .cta-text {
    min-width: 290px;
    max-width: 100vw;
    text-align: center;
    background-color: $color-white;
    padding: 12px;
    h1 {
      font-size: $font-size-extra-extra-large;
    }
    h2 {
      font-size: $font-size-extra-extra-large;
    }
    h3 {
      font-size: $font-size-extra-large;
    }
    .cta-button {
      display: block;
      font-size: $font-size-large;
      background-color: $color-brown;
      text-decoration: none;
      font-weight: bold;
      color: $color-white;
      margin: 10px;
      padding-top: 10px;
      padding: 16px;
      border-radius: 7px;
      //border: 2px solid $color-brown;
      box-shadow: $color-white 0px 0px 0px 0px, $color-light-brown -10px 10px;
      display: inline-block;
    }
    .cta-button:hover {
      //color: $color-black;
      //background: linear-gradient(320deg, $color-brown 0%, $color-light-brown 80%);
      //border: 2px solid $color-brown;
      //border: 2px solid $color-$light-brown;
      color: $color-brown;
      background-color: $color-light-brown;
      box-shadow: $color-light-brown 0px 0px 0px 0px, $color-brown 10px 10px;
      transition-timing-function: ease-in;
      scale: 1.1;
      transition: all 350ms;
    }
    .cta-button:not(:hover) {
      background-color: $color-brown;
      scale: 1;
      //transition: scale 350ms;
      //transition: background-color 350ms;
      transition: all 350ms;
  }
    a:visited {
      color: $color-white;
    }
  }
  .cta-text-bordered {
    border-top: 2px solid $color-green-bright;
    border-bottom: 2px solid $color-green-bright;
  }
  .cta-image-container {
    max-width: 100vw;
    img {
      max-height: 50vh;
      max-width: 100vw;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .cta-text-bordered-spacer {
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
}

@media only screen and (min-width: 400px) {
  .cta-image-container {
    padding: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .cta{
    justify-content: center;
    //padding-top: 50px;
    padding-bottom: 50px;
    .cta-text {
      text-align: center;
      padding: 24px;
    }
    .cta-text-bordered {
      color: $color-black;
      background-color: $color-white;
      border-radius: 10px;
      border: 2px solid $color-green-bright;
    }
    .bottom-left-border {
      box-shadow: $color-green-bright 0px 0px 0px 2px, $color-green-medium -10px 10px, $color-green-dark -20px 20px;
    }
    .bottom-right-border {
      box-shadow: $color-green-bright 0px 0px 0px 2px, $color-green-medium 10px 10px, $color-green-dark 20px 20px;
    }
    .cta-text-bordered-spacer {
      min-width: 10px;
      height: 100%;
      visibility: visible;
    }
    .cta-image-container {
      max-width: 40%;
      align-content: center;
      img {
        width: 100%;
      }
    }
    .cta-text-animated-border-moving-shadow {
      box-shadow: $color-green-bright 0px 0px 0px 2px, $color-green-medium -10px 10px, $color-green-dark -20px 20px;
      animation: moving-shadow 10s infinite;
    }
  }
}

@keyframes moving-shadow {
  0% {
    box-shadow: $color-green-bright 0px 0px 0px 2px, $color-green-medium -10px 10px, $color-green-dark -20px 20px;
  }
  50% {
    box-shadow: $color-green-bright 0px 0px 0px 2px, $color-green-medium 10px 10px, $color-green-dark 20px 20px;
  }
  100% {
    box-shadow: $color-green-bright 0px 0px 0px 2px, $color-green-medium -10px 10px, $color-green-dark -20px 20px;
  }
}

@media only screen and (min-width: 600px) {
  .cta-about{
    display: flex;
    flex-direction: row;
    .cta-text{
      min-width: 320px;
      max-width: 40%;
      h2 {
        font-size: $font-size-extra-large;
      }
    }
  }
}

#scroll-section {
  .scroll-container {
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }
  .scroll-content {
    display: flex;
    position: absolute;
    animation: scroll-section-animation 20s linear infinite;
  }
  .scroll-item {
    white-space: nowrap;
    margin-right: 20px;
    font-size: $font-size-large;
    color: $color-black;
    background-color: $color-white;
    padding: 0 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .scroll-container:hover {
    .scroll-content {
      animation-play-state: paused;
    }
  }
}

@keyframes scroll-section-animation {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-50%);
  }
}

.cta-services {
  .info-card-area {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .info-card {
      border-radius: 10px;
      border: solid $color-green-bright 2px;
      max-width: 100vw;
      background-color: $color-white;
      margin: 10px 0px 10px 0px;
      text-align: center;
      padding: 20px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .cta-services {
    padding-bottom: 0;
    margin-bottom: 50px;
    justify-self: center;
    //background-color: $color-green-background;
    min-width: 600px;
    max-width: 60%;
    .cta-text{
      justify-self: center;
      //width: 92%;
    }
    .info-card-area {
      padding-top: 30px;
      display: flex;
      justify-content: space-around;
      .info-card-container {
        max-width: 44%;
        .info-card {
          padding: 20px;
          border-radius: 10px;
          
          h3 {
            padding-bottom: 8px;
          }
        }
      }
      
      .info-card:hover {
        border: 0;
        border: solid $color-brown 2px;
        scale: 1.1;
        transition-timing-function: ease;
        transition: scale 350ms;
      }
      .info-card:not(:hover) {
        //border: solid $color-green-bright;
        scale: 1;
        transition: all 350ms;
      }
    }
  }
}

.cta-projects {
  width: 100vw;
  .cta-text {
    max-width: 100vw;
  }
  .featured-project {
    max-width: 100vw;
  }
}

@media only screen and (min-width: 650px) {
  .cta-projects {
    //min-width: 600px;
    //max-width: 70vw;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    .cta-text {
      max-width: 20vw;
    }
    .featured-project {
      margin-left: 10px;
      max-width: 50vw;
      border: 2px solid $color-green-bright;
      border-radius: 10px;
    }
  }
}

@media only screen and (min-width: 650px) {
  .cta-contact {
    display: flex;
    .cta-text{
      min-width: 320px;
      max-width: 40%;
      .banner-heading {
        font-size: $font-size-banner;
      }
    }
    .cta-banner-heading-container {
      height: 9rem;
    }
  }
}


//

.social-icons-container {
  justify-self: center;
  max-width: 100vw;
  height: 70px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  //background-color: $color-green-bright;
  border: 2px solid $color-green-bright;
  border-radius: 10px;
  background: $color-white;
  padding-bottom: 10px;
  //margin: 20px;
  margin-bottom: 50px;
  .fa {
    padding: 20px;
    max-width: 70px;
    text-align: center;
    text-decoration: none;
    //margin: 5px 2px;
    //border-radius: 50%;
    color: $color-brown;
  }
  .fa:hover {
    //opacity: 0.7;
    scale: 1.2;
    animation: rotatesocialicon 500ms;
    transition: all 350ms;
  }
  .fa:not(:hover) {
    scale: 1;
    transition: all 350ms;
  }
}

@media only screen and (max-width: 399px) {
  .social-icons-container {
    width: 100vw;
  }
}

@keyframes rotatesocialicon {
  100% {transform: rotate(360deg);}
}

@media only screen and (max-width: 399px) {
  .social-icons-container{
    width: 100vw;
    height: fit-content;
  }
}

@media only screen and (min-width: 600px) {
  .social-icons-container {
    max-width: 400px;
  }
}
/*
.page-divider {
  background-color: $color-green-medium;
  height: 10px;
  
}

.featured-project {
  //background-color: $color-green-medium;
  padding: 10%;
  //box-shadow: 4px 4px black;
  //margin-bottom: 10%;
}
*/

/*
.visit-button {
  font-size: $font-size-large;
  background-color: $color-yellow-bright;
  text-decoration: none;
  font-weight: bold;
  color: $color-black;
  margin: 10px;
  padding-top: 10px;
  padding: 16px;
  border-radius: 7px;
  display: inline-block;
}*/

footer {
  background-color: $color-green-dark;
  color: $color-white;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  width: 100vw;
  .footer-link-container {
    max-width: 130px;
    ul {
      list-style-type: none;
      max-width: 120px;
      li {
        width: fit-content;
        padding: 5px 5px;
      }
    }
    width: 100%;
    .footer-link-list {
      width: 100%;
    }
  }
  a {
    text-decoration: none;
    color: $color-white;
  }
  a:hover {
    color: $color-green-bright;
  }
  p {
    text-align: end;
  }
  .footer-icon {
    color: $color-white;
    width: 24px;
    height: 24px;
  }
}

