@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Mohave);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

$vars: (
  clr-yellow-bright: #ffe120,
  clr-green-bright: #7DA626,
  clr-green-medium: #365902,
  clr-green-dark: #102601,
  clr-green-pale-light:#b2deb0,
  clr-green-pale-medium: #77a575,
  clr-brown-bright: #50260f,
  clr-brown-dark: #5C4033,
  clr-brown-light: #C4A484,
  clr-black: #000000,
  clr-grey: #4f4f4f,
  clr-white: #ffffff,
  clr-valid: #00ff00,
  clr-invalid: #970000,
  clr-warning: #ffd000,

  ff-primary: 'Mohave',
  ff-secondary: 'Quicksand',
  ff-tertiary: 'Courier New',

  fs-xs: 0.5rem,
  fs-s: 1rem,
  fs-m: 1.25rem,
  fs-l: 2rem,
  fs-xl: 3rem,
  fs-xxl: 5rem,

  spacer: 1rem,
  spacer-m: calc(var(spacer) * 2),
  spacer-l: calc(var(spacer) * 3),

  bdr-green: 2px solid $color-green-bright,
  bdr-brown: 2px solid $color-brown,
  
  bdr-rad-s: 4px,
  bdr-rad-m: 10px,

  pad-xs: 5px,
  pad-s: 10px,
  pad-m: 16px,
  pad-l: 20px,
  pad-xl: 24px
  );

@mixin var($property, $variable) {
  #{$property}: map-get($vars, $variable);
  #{$property}: var(--#{$variable});
}
:root {
  @each $property, $value in $vars {
    --#{$property}: #{$value};
  }

  /*
  --grad-bg: linear-gradient(
    45deg,
    var(--clr-green-pale),
    var(--clr-white)
  );*/
}


@mixin radial-gradient-bg($center-color, $outer-color, $position: center) {
  background: radial-gradient(circle at #{$position}, #{$center-color}, #{$outer-color});
}

body, html {
  display: grid;
  place-items: center;
}

body {
  margin: 0;
  @include var(font-family, ff-secondary);
  @include var(font-size, fs-s);
  height: 100vh;
  @include var(color, clr-black);
  @include var(background-color, clr-white);
  overflow-x: hidden;

  p {
    @include var(font-size, fs-m);
  }
}

h1, h2 {
  //font-family: 'Mohave';
  @include var(font-family, ff-primary);
}

h3, h4, h5, h6 {
  //font-family: 'Quicksand';
  @include var(font-family, ff-secondary);
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  a {
    color: $color-black;
    @include var(color, clr-black);
    float: none;
    display: flex;
    text-align: left;
  }
  .navbar-logo-container {
    //align-self: flex-start;
    min-width: 80px;
    max-width: 15vw;
    a {
      img {
        @include var(padding, pad-s);
      }
    }
    
  }
  .navbar-links {
    width: 50vw;
    position: relative;
    overflow: hidden;
    //background-color: $color-white;
    @include var(background-color, clr-white);
    @include var(padding, pad-s);
    float: right;
    #navbarList {
      display: none;
    }
    a {
      //padding: 16px;
      @include var(padding, pad-m);
      text-decoration: none;
      display: block;
      //font-size: $font-size-large;
      @include var(font-size, fs-m);
      @include var(border-radius, bdr-rad-s);
      text-align: center;
    }
    a:not(.active) {
      border-radius: 0;
      //border-top: solid $color-green-medium 2px;
    }
    a:after {
      display: block;
      content: '';
      //@include var(border-bottom, clr-black);
      border-bottom: solid 1px $color-white;
      transform: scale(0);
      transition: transform 350ms ease-in-out;
    }
    a:hover {
      @include var(background-color, clr-brown-bright);
      //background: linear-gradient(315deg, $color-brown 0%, $color-brown-light 100%);
      //color: $color-white;
      @include var(color, clr-white);
      @include var(border-radius, bdr-rad-m);
      border-top: 0;
      transition-timing-function: ease;
      transition: all 350ms;
    }
    a:hover:after {
      transform: scaleX(1);
    }
    a:not(:hover) {
      transition: all 350ms;
    }
    .active {
      //background-color: $color-green-bright;
      @include var(background-color, clr-green-bright);
      //color: $color-white;
      @include var(color, clr-white);
    }
  }
  .navbar-expand-button-container {
    width: 15vw;
    float: right;
    .navbar-expand-icon {
      //@include var(font-family, ff-secondary);
      @include var(font-size, fs-l);
      @include var(padding, pad-s);
      //max-width: 53px;
      height: 74px;
      //background: $color-white;
      @include var(background-color, clr-white);
      justify-self: center;
      text-align: center;
      i {
        align-self: center;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  header {
    max-width: 1920px;
    a {
      float: left;
      text-align: center;
    }
    .navbar-links {
      //min-width: 80vw;
      max-width: 1000px;
      align-self: flex-end;
      display: flex;
      justify-content: flex-end;
      #navbarList {
        display: contents;
        a {
          margin-left: 5px;
        }
        a:not(.active) {
          border-top: 0;
        }
      }
    }
    .navbar-expand-button-container {
      display: none;
      a {
        height: 73px;
        i {
          align-self: center;
        }
      }
    }
  }
}

main {
  @include var(background-color, clr-green-pale-light);
  //background-image: var(--grad-bg);
  max-width: 100vw;
  max-width: 1920px;
  height: 100%;
  //@include var(background-image, grad-bg);
  //background: radial-gradient(circle,green, white);
  
  .background-text-block {
    display: none;
    z-index: -1;
  }
  
}

@media screen and (min-width: 600px) {
  main {
    padding-top: 50px;
    //@include var(background-color, clr-green-pale-light);
    //@include radial-gradient-bg(circle at center, var(--clr-green-pale-light), var(--clr-white));
    /*
    .background-text-block {
      display: block;
      position: absolute;
      //transform: rotate(-10deg);
      @include var(font-family, ff-tertiary);
      @include var(font-size, fs-xxl);
    }*/
  }
}

.cta {
  padding-top: 0;
  //@include var(background-color, clr-green-pale-medium);
  .cta-text {
    min-width: 290px;
    max-width: 100vw;
    text-align: center;
    //background-color: $color-white;
    @include var(background-color, clr-white);
    //padding: 12px;
    @include var(padding, pad-s);
    h1 {
      //font-size: $font-size-extra-extra-large;
      @include var(font-size, fs-xl);
    }
    h2 {
      //font-size: $font-size-extra-extra-large;
      @include var(font-size, fs-xl);
    }
    h3 {
      //font-size: $font-size-extra-large;
      @include var(font-size, fs-l);
    }
    .cta-button {
      display: block;
      //font-size: $font-size-large;
      @include var(font-size, fs-m);
      //background-color: $color-brown;
      @include var(background-color, clr-brown-bright);
      text-decoration: none;
      font-weight: bold;
      //color: $color-white;
      @include var(color, clr-white);
      margin: 10px;
      padding-top: 10px;
      //padding: 16px;
      @include var(padding, pad-m);
      border-radius: 7px;
      //border: 2px solid $color-brown;
      box-shadow: $color-white 0px 0px 0px 0px, $color-brown-light -10px 10px;
      display: inline-block;
    }
    .cta-button:hover {
      //color: $color-black;
      //background: linear-gradient(320deg, $color-brown 0%, $color-brown-light 80%);
      //border: 2px solid $color-brown;
      //border: 2px solid $color-$light-brown;
      //color: $color-brown;
      @include var(color, clr-brown-bright);
      //background-color: $color-brown-light;
      @include var(background-color, clr-brown-light);
      box-shadow: $color-brown-light 0px 0px 0px 0px, $color-brown 10px 10px;
      transition-timing-function: ease-in;
      scale: 1.1;
      transition: all 350ms;
    }
    .cta-button:not(:hover) {
      //background-color: $color-brown;
      //transition: scale 350ms;
      //transition: background-color 350ms;
      
      scale: 1;
      transition: all 350ms;
    }
    /*
    a:visited {
      color: $color-white;
    }*/
  }
  .cta-text-bordered {
    //border-top: 2px solid $color-green-bright;
    //border-bottom: 2px solid $color-green-bright;
    @include var(border-top, bdr-green);
    @include var(border-bottom, bdr-green);
  }
  .cta-image-container {
    max-width: 100vw;
    img {
      max-height: 50vh;
      max-width: 100vw;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .cta-text-bordered-spacer {
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
}

@media only screen and (min-width: 400px) {
  .cta-image-container {
    //padding: 10px;
    @include var(padding, pad-s);
  }
}

@media only screen and (min-width: 600px) {
  .cta{
    justify-content: center;
    //padding-top: 50px;
    padding-bottom: 50px;
    .cta-text {
      text-align: center;
      //padding: 24px;
      @include var(padding, pad-xl);
    }
    .cta-text-bordered {
      //color: $color-black;
      @include var(color, clr-black);
      //background-color: $color-white;
      @include var(background-color, clr-white);
      //border-radius: 10px;
      @include var(border-radius, bdr-rad-m);
      //border: 2px solid $color-green-bright;
    }
    .bottom-left-border {
      box-shadow: $color-green-bright 0px 0px 0px 2px, $color-green-medium -10px 10px, $color-green-dark -20px 20px;
    }
    .bottom-right-border {
      box-shadow: $color-green-bright 0px 0px 0px 2px, $color-green-medium 10px 10px, $color-green-dark 20px 20px;
    }
    .cta-text-bordered-spacer {
      min-width: 10px;
      height: 100%;
      visibility: visible;
    }
    .cta-image-container {
      max-width: 40%;
      align-content: center;
      img {
        width: 100%;
      }
    }
    .cta-text-animated-border-moving-shadow {
      box-shadow: $color-green-bright 0px 0px 0px 2px, $color-green-medium -10px 10px, $color-green-dark -20px 20px;
      animation: moving-shadow 10s infinite;
    }
  }
}

@keyframes moving-shadow {
  0% {
    box-shadow: $color-green-bright 0px 0px 0px 2px, $color-green-medium -10px 10px, $color-green-dark -20px 20px;
  }
  50% {
    box-shadow: $color-green-bright 0px 0px 0px 2px, $color-green-medium 10px 10px, $color-green-dark 20px 20px;
  }
  100% {
    box-shadow: $color-green-bright 0px 0px 0px 2px, $color-green-medium -10px 10px, $color-green-dark -20px 20px;
  }
}

@media only screen and (min-width: 600px) {
  .cta-about{
    display: flex;
    flex-direction: row;
    .cta-text{
      min-width: 320px;
      max-width: 40%;
      h2 {
        //font-size: $font-size-extra-large;
        @include var(font-size, fs-l);
      }
    }
  }
}

#scroll-section {
  .scroll-container {
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }
  .scroll-content {
    display: flex;
    position: absolute;
    animation: scroll-section-animation 20s linear infinite;
  }
  .scroll-item {
    white-space: nowrap;
    margin-right: 20px;
    //font-size: $font-size-large;
    @include var(font-size, fs-m);
    //color: $color-black;
    @include var(color, clr-black);
    //background-color: $color-white;
    @include var(background-color, clr-white);
    padding: 0 5px;
    //border-radius: 5px;
    @include var(border-radius, bdr-rad-s);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .scroll-container:hover {
    .scroll-content {
      animation-play-state: paused;
    }
  }
}

@keyframes scroll-section-animation {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-50%);
  }
}

.cta-services {
  .cta-text {
    width: 100%;
  }
  .info-card-area {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .info-card {
      //border-radius: 10px;
      @include var(border-radius, bdr-rad-m);
      //border: solid $color-green-bright 2px;
      @include var(border, bdr-green);
      max-width: 100vw;
      //background-color: $color-white;
      @include var(background-color, clr-white);
      margin: 10px 0px 10px 0px;
      text-align: center;
      //padding: 20px;
      @include var(padding, pad-l);
    }
  }
}

@media only screen and (min-width: 600px) {
  .cta-services {
    padding-bottom: 0;
    margin-bottom: 50px;
    justify-self: center;
    min-width: 600px;
    max-width: 60%;
    .cta-text{
      justify-self: center;
      //width: 92%;
    }
    .info-card-area {
      padding-top: 30px;
      display: flex;
      justify-content: space-around;
      .info-card-container {
        max-width: 44%;
        .info-card {
          padding: 20px;
          @include var(padding, pad-l);
          //border-radius: 10px;
          @include var(border-radius, bdr-rad-m);
          height: 90%;
          h3 {
            padding-bottom: 8px;
          }
        }
      }
      
      .info-card:hover {
        border: 0;
        //border: solid $color-brown 2px;
        @include var(border, bdr-brown);
        scale: 1.1;
        transition-timing-function: ease;
        transition: scale 350ms;
      }
      .info-card:not(:hover) {
        //border: solid $color-green-bright;
        scale: 1;
        transition: all 350ms;
      }
    }
  }
}

.cta-projects {
  display: flex;
  flex-wrap: wrap;
  .cta-text {
    width: 100vw;
  }
  .featured-project {
    max-width: 100vw;
  }
}

@media only screen and (min-width: 650px) {
  .cta-projects {
    //min-width: 600px;
    //max-width: 70vw;
    //margin: auto;
    //display: flex;
    //justify-content: center;
    .cta-text {
      max-width: 20vw;
    }
    .featured-project {
      margin-left: 10px;
      //max-width: 50vw;
      //border: 2px solid $color-green-bright;
      //border-radius: 10px;
    }
  }
}

@media only screen and (min-width: 1080px) {
  
}

@media only screen and (min-width: 650px) {
  .cta-contact {
    display: flex;
    .cta-text{
      min-width: 320px;
      max-width: 40%;
      .banner-heading {
        //font-size: $font-size-banner;
        @include var(font-size, fs-xxl);
      }
    }
    .cta-banner-heading-container {
      height: 9rem;
    }
  }
}


//

.social-icons-container {
  justify-self: center;
  max-width: 100vw;
  //height: 70px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  //background-color: $color-green-bright;
  //border: 2px solid $color-green-bright;
  @include var(border, bdr-green);
  //border-radius: 10px;
  @include var(border-radius, bdr-rad-m);
  //background: $color-white;
  @include var(background-color, clr-white);
  //margin: 20px;
  margin-bottom: 24px;
  .fa {
    //padding: 20px;
    @include var(padding, pad-l);
    //padding-bottom: 300px;
    max-width: 70px;
    text-align: center;
    text-decoration: none;
    //margin: 5px 2px;
    //border-radius: 50%;
    //color: $color-brown;
    @include var(color, clr-brown-bright);
  }
  .fa:hover {
    //opacity: 0.7;
    scale: 1.2;
    animation: rotatesocialicon 500ms;
    transition: all 350ms;
  }
  .fa:not(:hover) {
    scale: 1;
    transition: scale 350ms;
  }
}

@media only screen and (max-width: 399px) {
  .social-icons-container {
    width: 100vw;
  }
}

@keyframes rotatesocialicon {
  100% {transform: rotate(360deg);}
}

@media only screen and (max-width: 399px) {
  .social-icons-container{
    width: 100vw;
    height: fit-content;
  }
}

@media only screen and (min-width: 600px) {
  .social-icons-container {
    max-width: 400px;
  }
}

@media only screen and (min-width: 1000px) {
  main {
    width: 100vw;
  }
  .contact-header-container {
    margin: auto;
    text-align: center;
    max-width: 60vw;
    padding-bottom: 50px;
  }
  .contact-form-container{
    margin: auto;
    max-width: 60vw;
    padding-bottom: 50px;
  }
}


form {
  @include var(border, bdr-green);
  @include var(background-color, clr-white);
  @include var(border-radius, bdr-rad-m);
  @include var(padding, pad-m);
  @include var(color, clr-black);
  display: grid;
  input, button, select, textarea {
    font: inherit;
  }
  label {
    @include var(font-size, fs-s);
  }
  input, textarea {
    @include var(border, bdr-brown);
    @include var(background-color, clr-white);
    @include var(border-radius, bdr-rad-m);
    @include var(padding, pad-s);
    @include var(color, clr-black);
    @include var(accent-color, clr-green-bright)
  }
  input:not([type="checkbox"], [type="radio"]) {
    width: 100%;
  }
  input:not(:placeholder-shown):valid {
    @include var(outline-color, clr-valid);
    // outline-color: var(--clr-valid);
  }
  input:not(:placeholder-shown):invalid {
    // outline-color: var(--clr-invalid);
    @include var(outline-color, clr-invalid);
  }
  input:focus:invalid {
    // outline-color: var(--clr-warning);
    @include var(outline-color, clr-warning);
  }
  .form-group {
    @include var(padding, pad-s);
    display: grid;
    gap: 0.25em;
    .message {
      height: 150px;
      resize: none;
    }
  }
  .form-group-full-width{
    grid-column: 1 / -1;
    textarea {
      resize: none;
    }
  }
  .form-group:has(.fine-print) {
    display: flex;
    gap: 1ch;
  }
  button {
    grid-column: 1 / -1;
    justify-self: end;
  }
  .form-submit-button {
    @include var(font-size, fs-m);
    @include var(background-color, clr-brown-bright);
    @include var(color, clr-white);
    @include var(padding, pad-m);
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    padding-top: 10px;
    border-style: none;
    border-radius: 7px;
    box-shadow: $color-white 0px 0px 0px 0px, $color-brown-light -10px 10px;
    display: inline-block;
  }
  .form-submit-button:hover {
      @include var(color, clr-brown-bright);
      @include var(background-color, clr-brown-light);
      box-shadow: $color-brown-light 0px 0px 0px 0px, $color-brown 10px 10px;
      transition-timing-function: ease-in;
      scale: 1.1;
      transition: all 350ms;
    }
    .form-submit-button:not(:hover) {
      scale: 1;
      transition: all 350ms;
    }
  @media (width > 720px) {
    grid-template-columns: 1fr 1fr;
  }
}

.privacy-policy {
  text-align: left;
  h1, h2, h3, h4, p, ul, li {
    text-align: left;
  }
  h3, h4 {
    @include var(font-size, fs-m);
  }
  p, ul, li {
    @include var(font-size, fs-m);
    
  }
  ul {
    li {
      list-style-type: none;
    }
  }
}

footer {
  //background-color: $color-green-dark;
  @include var(background-color, clr-green-dark);
  //color: $color-white;
  @include var(color, clr-green-pale-medium);
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  width: 100vw;
  .footer-link-container {
    max-width: 130px;
    ul {
      list-style-type: none;
      max-width: 120px;
      li {
        width: fit-content;
        padding: 5px 0;
      }
    }
    width: 100%;
    .footer-link-list {
      width: 100%;
    }
  }
  a {
    text-decoration: none;
    //color: $color-white;
    @include var(color, clr-white);
  }
  a:hover,
  a:focus {
    //color: $color-green-bright;
    @include var(color, clr-green-bright);
  }
  p {
    text-align: end;
  }
  .footer-icon {
    color: $color-white;
    @include var(color, clr-white);
    width: 24px;
    height: 24px;
  }
}