*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  //outline: 2px solid red;
}

body, html {
  display: grid;
  //min-width: 90%;
  //max-width: 100%;
  //height: 100%;
  place-items: center;
}

body {
  margin: 0;
  font-family: 'Quicksand';
  font-size: $font-size-default;
  height: 100vh;
  color: $color-black;
  background-color: $color-white;
  overflow-x: hidden;

  p {
    font-size: $font-size-large;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mohave';
}

a {
  text-decoration: none;
}

header {
  //display: block;
  //min-width: 70%;
  width: 100%;
  //max-width: 100vw;
}

.navbar-container {
  a.logo {
    font-size: $font-size-extra-large;
    font-weight: bold;
  }
}

.navbar-right {
  overflow: hidden;
  background-color: $color-white;
  padding: 10px;

  a {
    float: left;
    display: block;
    color: $color-black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: $font-size-large;
    border-radius: 4px;
  }

  a:hover {
    background-color: $color-yellow-bright;
    color: $color-black;
  }

  a.active {
    background-color: $color-green-bright;
    color: $color-white;
  }

  .icon {
    display: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
}

@media screen and (max-width: 600px) {
  .navbar-right {
    a:not(:first-child) {
      display: none;
    }

    a.icon {
      float: right;
      display: block;
    }

  }
  .navbar-right.responsive {
    position: relative;

    a {
      float: none;
      display: block;
      text-align: left;
    }
  }
}

/*
@media screen and (min-width: 600px) {
  .navbar-right {
    a:not(:first-child) {
      display: block;
    }

    .icon {
      display: none;
    }
    
  }
}
*/

/*
@media screen and (min-width: 600px) {
  .navbar-container {
    a {
      float: left;
      text-align: center;
    }
  }

  .navbar-right {
    float: none;
    a.icon {
      display: none;
    }
  }
}
*/

main {
  height: 100%;
  background: linear-gradient(320deg, $color-white 0%, $color-green-gradient 80%);
}

@media screen and (min-width: 600px) {
  main {
    padding-top: 50px;
  }
}

//

.cta {
  padding-top: 0px;

  .cta-text {
    min-width: 320px;
    max-width: 100vw;
    text-align: center;
    background-color: $color-white;
    padding: 12px;

    h1 {
      font-size: $font-size-extra-extra-large;
    }
  
    h2 {
      font-size: $font-size-extra-extra-large;
    }
  
    h3 {
      font-size: $font-size-extra-large;
    }

    a {
      color: $color-black;
      font-size: $font-size-large;
      text-decoration: underline;
    }

    .cta-button {
      font-size: $font-size-large;
      background-color: $color-yellow-bright;
      text-decoration: none;
      font-weight: bold;
      color: $color-black;
      margin: 10px;
      padding-top: 10px;
      padding: 16px;
      border-radius: 7px;
      border: 2px solid $color-black;
      display: inline-block;
    }

    a:visited {
      color: $color-black;
    }

  }
  .cta-image-container {
    padding: 10px;
    
    img {
      max-height: 50vh;
      display: block;
      margin-left: auto;
      margin-right: auto;
      
    }
  }

  .cta-text-bordered-spacer {
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
}

@media only screen and (min-width: 600px) {
  .cta{
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

    .cta-text {
      text-align: center;
      //margin: 50px;
      padding: 24px;
    }

    .cta-text-bordered {
      color: $color-black;
      border-radius: 10px;
      border: 2px;
      border-color: $color-green-bright;
    }

    .bottom-border {
      box-shadow: $color-green-bright 0px 0px 0px 2px, $color-green-medium 0px 10px, $color-green-dark 0px 20px;
    }

    .bottom-left-border {
      box-shadow: $color-green-bright 0px 0px 0px 2px, $color-green-medium -10px 10px, $color-green-dark -20px 20px;
    }

    .bottom-right-border {
      box-shadow: $color-green-bright 0px 0px 0px 2px, $color-green-medium 10px 10px, $color-green-dark 20px 20px;
    }

    .cta-text-bordered-spacer {
      min-width: 10px;
      height: 100%;
      visibility: visible;
    }

    .cta-image-container {
      max-width: 40%;
      align-content: center;

      img {
        width: 100%;
      }
    }

    .cta-heading-container {
      height: 9rem;
    }
  }

  .cta-about{
    display: flex;

    .cta-text{
      min-width: 320px;
      max-width: 40%;

      h2 {
        font-size: $font-size-extra-large;
      }
    }
  }

  /*
  .cta-services {
    //width: 1000px;
    //background-color: $color-green-dark;
  }
*/

  .cta-contact {
    display: flex;

    .cta-text{
      min-width: 320px;
      max-width: 40%;
      .banner-heading {
        font-size: $font-size-banner;
    }
  }
  }
}

@media only screen and (min-width: 800px) {
  .cta-services {
    margin: auto;
    min-width: 500px;
    max-width: 50%;
  }
}

//
/* Scrolling section */
#scroll-section {
  .scroll-container {
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }

  .scroll-content {
    display: flex;
    position: absolute;
    animation: scroll-section-animation 20s linear infinite;
  }

  .scroll-item {
    white-space: nowrap;
    margin-right: 20px;
    font-size: $font-size-large;
    color: $color-black;
    background-color: $color-white;
    padding: 0 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .scroll-container:hover .scroll-content {
    animation-play-state: paused;
  }
}

@keyframes scroll-section-animation {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-50%);
  }
}

//

.social-icons-container {
  display:flex;
  justify-content: center;
  //background-color: $color-green-bright;
  padding-bottom: 10px;
}

.fa {
  padding: 20px;
  font-size: $font-size-default;
  width: 58px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: $color-white;
}

.fa-linkedin {
  background: #007bb5;
  color: $color-white;
}

.fa-instagram {
  background: #bc2a8d;
  color: $color-white;
}

//

/*
.page-divider {
  background-color: $color-green-medium;
  height: 10px;
  
}


.featured-project {
  //background-color: $color-green-medium;
  padding: 10%;
  //box-shadow: 4px 4px black;
  //margin-bottom: 10%;
}
*/

.visit-button {
  font-size: $font-size-large;
  background-color: $color-yellow-bright;
  text-decoration: none;
  font-weight: bold;
  color: $color-black;
  margin: 10px;
  padding-top: 10px;
  padding: 16px;
  border-radius: 7px;
  display: inline-block;
}

footer {
  background-color: $color-green-dark;
  color: $color-white;
  display: flex;
  padding: 2rem;
  min-width: 100vw;

  ul {
    list-style-type: none;
  }

  .link-container {
    width: 100%;

    .link-list {
      width: 100%;
    }
  }

  a {
    text-decoration: none;
    color: $color-white;
  }

  p {
    text-align: end;
  }
}

