//font sizes
$font-size-default: 1rem;

$font-size-small: 0.5rem;
$font-size-large: 1.25rem;
$font-size-extra-large: 2rem;
$font-size-extra-extra-large: 3rem;
$font-size-banner: 5rem;

//colors

//theme colors
$color-yellow-bright: #ffe120;
$color-green-bright: #7DA626;
$color-green-medium: #365902;
$color-green-dark: #102601;
$color-green-gradient:#b2deb0;
$color-brown: #4c1e06;
$color-fifth: #272F40;
$color-sixth: #F2D0D0;
$color-black: #000000;
$color-grey: #4f4f4f;
$color-white: #ffffff;
//old
$color-primary-old-2: #ffe120;
$color-secondary-old-2: #003300;
$color-tertiary-old-2: #0b8c0b;
$color-quaternary-old-2: #4c1e06;
$color-standout-dark-old-2: #041100;
$color-standout-bright-old-2: #ffffff;
//old
$color-primary-old: #ffe120;
$color-secondary-old: #000033;
$color-tertiary-old: #090965;
$color-quaternary-old: #222222;
$color-standout-dark-old: #000000;
$color-standout-bright-old: #ffffff;