*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  display: grid;
  place-items: center;
}

body {
  margin: 0;
  font-family: "Quicksand";
  font-size: 1rem;
  height: 100vh;
  color: #000000;
  background-color: #ffffff;
  overflow-x: hidden;
}
body p {
  font-size: 1.25rem;
}

h1, h2 {
  font-family: "Mohave";
}

h3, h4, h5, h6 {
  font-family: "Quicksand";
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
header a {
  color: #000000;
  float: none;
  display: flex;
  text-align: left;
}
header .navbar-logo-container {
  align-self: flex-start;
  min-width: 80px;
  max-width: 15vw;
}
header .navbar-logo-container a img {
  padding: 10px 16px;
}
header .navbar-links {
  width: 50vw;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  padding: 10px;
  float: right;
}
header .navbar-links #navbarList {
  display: none;
}
header .navbar-links a {
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.25rem;
  border-radius: 4px;
  text-align: center;
}
header .navbar-links a:after {
  display: block;
  content: "";
  border-bottom: solid 1px #ffffff;
  transform: scale(0);
  transition: transform 350ms ease-in-out;
}
header .navbar-links a:hover {
  background: linear-gradient(320deg, #50260f 0%, #C4A484 100%);
  color: #ffffff;
  transition-timing-function: ease-in-out;
  transition: all 350ms;
}
header .navbar-links a:hover:after {
  transform: scaleX(1);
}
header .navbar-links a:not(:hover) {
  transition: all 350ms;
}
header .navbar-links .active {
  background-color: #7DA626;
  color: #ffffff;
}
header .navbar-expand-button-container {
  width: 15vw;
  float: right;
}
header .navbar-expand-button-container .navbar-expand-icon {
  padding: 10px;
  height: 74px;
  background: #ffffff;
  justify-self: center;
  text-align: center;
}
header .navbar-expand-button-container .navbar-expand-icon i {
  align-self: center;
}

@media screen and (min-width: 600px) {
  header a {
    float: left;
    text-align: center;
  }
  header .navbar-links {
    min-width: 80vw;
    align-self: flex-end;
    display: flex;
    justify-content: end;
  }
  header .navbar-links #navbarList {
    display: contents;
  }
  header .navbar-links #navbarList a {
    margin-left: 5px;
  }
  header .navbar-expand-button-container {
    display: none;
  }
  header .navbar-expand-button-container a {
    height: 73px;
  }
  header .navbar-expand-button-container a i {
    align-self: center;
  }
}
main {
  max-width: 100vw;
  max-width: 1920px;
  height: 100%;
  background: linear-gradient(320deg, #ffffff 0%, #b2deb0 80%);
}

@media screen and (min-width: 600px) {
  main {
    padding-top: 50px;
  }
}
.cta {
  padding-top: 0px;
}
.cta .cta-text {
  min-width: 290px;
  max-width: 100vw;
  text-align: center;
  background-color: #ffffff;
  padding: 12px;
}
.cta .cta-text h1 {
  font-size: 3rem;
}
.cta .cta-text h2 {
  font-size: 3rem;
}
.cta .cta-text h3 {
  font-size: 2rem;
}
.cta .cta-text .cta-button {
  display: block;
  font-size: 1.25rem;
  background-color: #50260f;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  margin: 10px;
  padding-top: 10px;
  padding: 16px;
  border-radius: 7px;
  box-shadow: #ffffff 0px 0px 0px 0px, #C4A484 -10px 10px;
  display: inline-block;
}
.cta .cta-text .cta-button:hover {
  color: #50260f;
  background-color: #C4A484;
  box-shadow: #C4A484 0px 0px 0px 0px, #50260f 10px 10px;
  transition-timing-function: ease-in;
  scale: 1.1;
  transition: all 350ms;
}
.cta .cta-text .cta-button:not(:hover) {
  background-color: #50260f;
  scale: 1;
  transition: all 350ms;
}
.cta .cta-text a:visited {
  color: #ffffff;
}
.cta .cta-text-bordered {
  border-top: 2px solid #7DA626;
  border-bottom: 2px solid #7DA626;
}
.cta .cta-image-container {
  max-width: 100vw;
}
.cta .cta-image-container img {
  max-height: 50vh;
  max-width: 100vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cta .cta-text-bordered-spacer {
  width: 0px;
  height: 0px;
  visibility: hidden;
}

@media only screen and (min-width: 400px) {
  .cta-image-container {
    padding: 10px;
  }
}
@media only screen and (min-width: 600px) {
  .cta {
    justify-content: center;
    padding-bottom: 50px;
  }
  .cta .cta-text {
    text-align: center;
    padding: 24px;
  }
  .cta .cta-text-bordered {
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #7DA626;
  }
  .cta .bottom-left-border {
    box-shadow: #7DA626 0px 0px 0px 2px, #365902 -10px 10px, #102601 -20px 20px;
  }
  .cta .bottom-right-border {
    box-shadow: #7DA626 0px 0px 0px 2px, #365902 10px 10px, #102601 20px 20px;
  }
  .cta .cta-text-bordered-spacer {
    min-width: 10px;
    height: 100%;
    visibility: visible;
  }
  .cta .cta-image-container {
    max-width: 40%;
    align-content: center;
  }
  .cta .cta-image-container img {
    width: 100%;
  }
  .cta .cta-text-animated-border-moving-shadow {
    box-shadow: #7DA626 0px 0px 0px 2px, #365902 -10px 10px, #102601 -20px 20px;
    animation: moving-shadow 10s infinite;
  }
}
@keyframes moving-shadow {
  0% {
    box-shadow: #7DA626 0px 0px 0px 2px, #365902 -10px 10px, #102601 -20px 20px;
  }
  50% {
    box-shadow: #7DA626 0px 0px 0px 2px, #365902 10px 10px, #102601 20px 20px;
  }
  100% {
    box-shadow: #7DA626 0px 0px 0px 2px, #365902 -10px 10px, #102601 -20px 20px;
  }
}
@media only screen and (min-width: 600px) {
  .cta-about {
    display: flex;
    flex-direction: row;
  }
  .cta-about .cta-text {
    min-width: 320px;
    max-width: 40%;
  }
  .cta-about .cta-text h2 {
    font-size: 2rem;
  }
}
#scroll-section .scroll-container {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
#scroll-section .scroll-content {
  display: flex;
  position: absolute;
  animation: scroll-section-animation 20s linear infinite;
}
#scroll-section .scroll-item {
  white-space: nowrap;
  margin-right: 20px;
  font-size: 1.25rem;
  color: #000000;
  background-color: #ffffff;
  padding: 0 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#scroll-section .scroll-container:hover .scroll-content {
  animation-play-state: paused;
}

@keyframes scroll-section-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.cta-services .info-card-area {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cta-services .info-card-area .info-card {
  border-radius: 10px;
  border: solid #7DA626 2px;
  max-width: 100vw;
  background-color: #ffffff;
  margin: 10px 0px 10px 0px;
  text-align: center;
  padding: 20px;
}

@media only screen and (min-width: 600px) {
  .cta-services {
    padding-bottom: 0;
    margin-bottom: 50px;
    justify-self: center;
    min-width: 600px;
    max-width: 60%;
  }
  .cta-services .cta-text {
    justify-self: center;
  }
  .cta-services .info-card-area {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
  }
  .cta-services .info-card-area .info-card-container {
    max-width: 44%;
  }
  .cta-services .info-card-area .info-card-container .info-card {
    padding: 20px;
    border-radius: 10px;
  }
  .cta-services .info-card-area .info-card-container .info-card h3 {
    padding-bottom: 8px;
  }
  .cta-services .info-card-area .info-card:hover {
    border: 0;
    border: solid #50260f 2px;
    scale: 1.1;
    transition-timing-function: ease;
    transition: scale 350ms;
  }
  .cta-services .info-card-area .info-card:not(:hover) {
    scale: 1;
    transition: all 350ms;
  }
}
.cta-projects {
  width: 100vw;
}
.cta-projects .cta-text {
  max-width: 100vw;
}
.cta-projects .featured-project {
  max-width: 100vw;
}

@media only screen and (min-width: 650px) {
  .cta-projects {
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .cta-projects .cta-text {
    max-width: 20vw;
  }
  .cta-projects .featured-project {
    margin-left: 10px;
    max-width: 50vw;
    border: 2px solid #7DA626;
    border-radius: 10px;
  }
}
@media only screen and (min-width: 650px) {
  .cta-contact {
    display: flex;
  }
  .cta-contact .cta-text {
    min-width: 320px;
    max-width: 40%;
  }
  .cta-contact .cta-text .banner-heading {
    font-size: 5rem;
  }
  .cta-contact .cta-banner-heading-container {
    height: 9rem;
  }
}
.social-icons-container {
  justify-self: center;
  max-width: 100vw;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid #7DA626;
  border-radius: 10px;
  background: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.social-icons-container .fa {
  padding: 20px;
  max-width: 70px;
  text-align: center;
  text-decoration: none;
  color: #50260f;
}
.social-icons-container .fa:hover {
  scale: 1.2;
  animation: rotatesocialicon 500ms;
  transition: all 350ms;
}
.social-icons-container .fa:not(:hover) {
  scale: 1;
  transition: all 350ms;
}

@media only screen and (max-width: 399px) {
  .social-icons-container {
    width: 100vw;
  }
}
@keyframes rotatesocialicon {
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 399px) {
  .social-icons-container {
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media only screen and (min-width: 600px) {
  .social-icons-container {
    max-width: 400px;
  }
}
/*
.page-divider {
  background-color: $color-green-medium;
  height: 10px;

}

.featured-project {
  //background-color: $color-green-medium;
  padding: 10%;
  //box-shadow: 4px 4px black;
  //margin-bottom: 10%;
}
*/
/*
.visit-button {
  font-size: $font-size-large;
  background-color: $color-yellow-bright;
  text-decoration: none;
  font-weight: bold;
  color: $color-black;
  margin: 10px;
  padding-top: 10px;
  padding: 16px;
  border-radius: 7px;
  display: inline-block;
}*/
footer {
  background-color: #102601;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  width: 100vw;
}
footer .footer-link-container {
  max-width: 130px;
  width: 100%;
}
footer .footer-link-container ul {
  list-style-type: none;
  max-width: 120px;
}
footer .footer-link-container ul li {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 5px;
}
footer .footer-link-container .footer-link-list {
  width: 100%;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
footer a:hover {
  color: #7DA626;
}
footer p {
  text-align: end;
}
footer .footer-icon {
  color: #ffffff;
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=style.css.map */